<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-button *ngFor="let tela of telas">

    {{ tela.text}}

</ion-button>
</ion-content>
